{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <header class="home">
        {% if user.is_authenticated %}
            <p>Пустая ссылка</p>
            <p><a href="{% url 'personal' %}">Профиль</a></p>
            <p>Пустая ссылка</p>
        {% else %}
            <p>Пустая ссылка</p>
            <p><a href="{% url 'login'%}">Войти</a></p>
            <p>Пустая ссылка</p>
        {% endif %}
    </header>
    <main>
        <h1>Это главная страница</h1>
        <p>Лорем ипсум</p>
    </main>
</body>
</html>